<div class="container">
<div class="img_nico">
<img class="nico_photo" src="assets/nike_nico.jpg" alt="">
</div>
<h1>Nicolas Yoka</h1>
<p>I'm 19 y/o French photograph<br>Live in parisian suburbs, Bondy</p>
<p>Language Student, I love do photograph in my free time<br>Nike Collab ++</p>

<div class="contact">
<span class="strong">Email</span>: nijeanco@dnjdb.fr<br>
<span class="strong">Phone Number</span>: 0625141725
</div>

</div>
<div class="container">
    <form>
        <h2>Contact :</h2>
     
        <h3>Write me a message</h3>
        <input type="text" placeholder="Fullname">
        <input type="text" placeholder="Email">
        <textarea placeholder="Write you message here..." name="" id="" cols="30" rows="10"></textarea>
        <button>Submit</button>
    </form>
</div>