.img_nico {
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
    float:left;
    margin-right:12px;
    
}
.nico_photo {
  height:auto;
    width:100%;
}
.container {
    padding:10px;
    margin:80px auto;
    width:50%;
    background:white;
    border:solid whitesmoke 1px;
    border-radius:10px;
    overflow:auto;

    
}
.contact {
    float:right;
}
form {
    margin:0 auto;
    text-align:center;
}

form input, textarea {
    font-family: 'Questrial', sans-serif;

    display:block;
    padding:10px;
    border-radius:10px;
    border:solid 1px lightgrey;
    min-width:200px;
    max-width:200px;
    max-height:200px;
    margin:5px auto;
}
 

button {
    background:#4f7e2e;
    border:none;
    padding:5px;
    color:white;
    height:50px;
    width:100px;
    border-radius:10px;
    font-family: 'Questrial', sans-serif;

}
button:hover {
    background:#3a5c21;
    cursor:pointer;

}