<section class='img_forest'>
   
    <img class="lax" src="assets/picture/intro.jpg" alt="" data-lax-translate-y="0 30, 300 -150">
    <img  class="lax" src="assets/picture/allo.jpg" alt="" data-lax-translate-y="0 30, 450 -100">
    <img class="lax" src="assets/picture/stare.jpg" alt="" data-lax-translate-y="0 30, 550 -50">
    <img class="lax" src="assets/picture/flower.jpg" alt="" data-lax-translate-y="0 30, 300 50">
    <img class="lax" src="assets/picture/dress.jpg" alt="" data-lax-translate-y="0 30, 550 100">
    <img class="lax" src="assets/picture/mirror.jpg" alt="" data-lax-translate-y="0 30, 650 150">
    
</section>

<div class="container">
    <h2>My art is ...capturing unique moments</h2>
    <p>I love nature and weird things. Influenced by Asian culture I'm always in search of something new to capture</p>
    <h2>Follow me in Instagram! @nijeanco</h2>
    <div class="images">
        <img src="assets/picture/camera_lence.jpg" class="insta_pic" alt="">
        <img src="assets/picture/tomato.jpg" class="insta_pic" alt="">
        <img src="assets/picture/clone.jpg" class="insta_pic" alt="">
        <img src="assets/picture/cotton.jpg" class="insta_pic" alt="">
        <img src="assets/picture/friends.jpg" class="insta_pic" alt="">
        <img src="assets/picture/ashura.jpg" class="insta_pic" alt="">
        <img src="assets/picture/mask.jpg" class="insta_pic" alt="">
        <img src="assets/picture/rose.jpg" class="insta_pic" alt="">
        <img src="assets/picture/umbrella.jpg" class="insta_pic" alt="">
        <img src="assets/picture/photo.jpg" class="insta_pic" alt="">
        <img src="assets/picture/ghosts.jpg" class="insta_pic" alt="">
        <img src="assets/picture/hands.jpg" class="insta_pic" alt="">

    </div>
    <p>#vsco #120film #film #grain #aesthetic #ifyouleave #portrait  #24hrchurch  #everybodyfilm  #reframedmag #n8zine #etczine #nowherediary #lucecurated #foammagazine #etczine #classicsmagazine #thephotographicindex #dazed #myfeatureshoot #featuring #aesthetic  #afilmcosmos #pellicolamag #realismag
        #artlovers #worldviewmag #fatedmagazine #tendermag #kanaizagallery #thetaxcollection
        #insomniamag</p>
<p>#classicsmagazine #thephotographicindex #dazed #contrast  #tomato #featuring #aesthetic #photoshop #afilmcosmos
    #artlovers #worldviewmag #fatedmagazine #tendermag #kanaizagallery #thetaxcollection
    #insomniamag @collateral.mag</p>    <p>#aintbadmagazine #archivecollectivemag #weltraumzine #n8zine #nowherediary #everybodyfilm</p>
</div>
